/*back button*/
.col-1 .btn{
	background-color:#3AE88A;
	color:white;
	border-radius: 50%;
	margin-top: 10px;
}
svg{
	width:50px;
	height:50px;
}

/*list of notices*/
.col-4 .btn:focus{
	background-color:#3AE88A;
	color:white;
}
.col-4{
	padding-top:10px;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
	max-height: 100vh;
}

/*opened notice*/
.col-7{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
	max-height: 100vh;
}
img{
	position: static;
	height: 100%;
}