{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>branchboard</title>
    <link rel="shortcut icon" href="{% static 'branch.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'board2.css' %}"> -->
    <link rel="stylesheet" href="{% static 'board.css' %}">
</head>
<body>

    <div class="mainarea">
      <div class="group">
        {% if student == True %}
        <a class="student logout" id = "student" href="{% url 'mainhome' %}">LOG OUT</a>
        {% endif %}
        {% if teacher == True %}
        <a class="teacher logout" id = "teacher" href="{% url 'mainhome' %}">LOG OUT</a>
        <a class="teacher upload" id = "teacher" href="teacher/upload">UPLOAD</a>
        {% endif %}
    </div>
    <div class="board">
      <div class="container2">
        <img src="{% static 'board.png' %}" alt="Board" class="center"> 
      </div>           
      <div class="container1" id="container">
        <div class="upper">
            <a class="TnP" 
              {% if student == True %}  href="student/TandP/dashboard/student" 
              {% endif %}
              {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/TandP/dashboard/teacher"
              {% endif %}
                title="Training and Placement"> </a>

            <a class="CSE" 
            {% if student == True %}  href="student/CSE/dashboard/student" 
              {% endif %}
              {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/CSE/dashboard/teacher"
              {% endif %}
              title="Computer Science"> </a>

            <a class="IT" 
            {% if student == True %}  href="student/IT/dashboard/student" 
              {% endif %}
              {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/IT/dashboard/teacher"
              {% endif %} title="Information Technology"></a>

            <a class="EC" 
            {% if student == True %}  href="student/EC/dashboard/student" 
              {% endif %}
              {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/EC/dashboard/teacher"
              {% endif %}title="Electronics and Communication"></a>

        </div>
        <div class="lower">
            <a class="EE" 
            {% if student == True %}  href="student/EE/dashboard/student" 
              {% endif %}
              {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/EE/dashboard/teacher"
              {% endif %}title="Electrical and Electronics"></a>

            <a class="CE"
            {% if student == True %}  href="student/CE/dashboard/student" 
              {% endif %}
              {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/CE/dashboard/teacher"
              {% endif %}title="Civil"></a>
            
            <a class="ME"
              {% if student == True %}  href="student/ME/dashboard/student" 
                {% endif %}
                {% if teacher == True %} href="http://localhost:8000/branchboard/teacher/ME/dashboard/teacher"
                {% endif %}title="Mechanical"></a>

        </div> 
      </div>
    </div>
  </div>
 <script type="text/javascript">
    {% if success %}
    alert("Notice uploaded successfully.")
    {% elif name %}
    alert("Please enter the name of the Notice.")
    {% endif %}
  </script>

</body>
</html>